<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Webpage Title -->
    <title>Smart chopchop_burgerking</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <style> .carousel-inner > .carousel-item > img { /* width: 500x; height: 200px; */
    } </style>

    <!-- JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script type="text/javascript">

        $(function () {
            $('ul.tab li').click(function () {
                var activeTab = $(this).attr('data-tab');
                $('ul.tab li').removeClass('current');
                $('.tabcontent').removeClass('current');
                $(this).addClass('current');
                $('#' + activeTab).addClass('current');
            })
        });

    </script>

    <script>
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/menu/burgerking',
                success: function (response) {
                    console.log(response)
                }
            })
        })

        function plusClick() {
            let num = $(".numBox").val();
            let plusNum = Number(num) + 1;

            $(".numBox").val(plusNum);
        }

        function minusClick() {
            let num = $(".numBox").val();
            let minusNum = Number(num) - 1;

            if (minusNum <= 0) {
                $(".numBox").val(0);
            } else {
                $(".numBox").val(minusNum);
            }
        }

        function itemSum(frm) {
            let sum = 0;
            let count = frm.chkbox.length;
            for (let i = 0; i < count; i++) {
                if (frm.chkbox[i].checked == true) {
                    sum += parseInt(frm.chkbox[i].value);
                }
            }
            frm.total_sum.value = sum;
        }

    </script>
    <script>
        $('#demo').carousel({interval: 100})
    </script>

    <style type="text/css">
        * {
            font-family: "Do Hyeon", sans-serif;
        }

        h1,
        h5 {
            display: inline;
        }

        .wrap {
            width: 768px;
            margin: auto;
        }

        #container {
            width: 768px;
            margin: 0 auto;
            text-align: center;
        }

        .tab {
            list-style: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        /* Float the list items side by side */
        .tab li {
            float: left;
        }

        /* Style the links inside the list items */
        .tab li a {
            display: inline-block;
            color: #000;
            text-align: center;
            text-decoration: none;
            padding: 14px 16px;
            font-size: 17px;
            transition: 0.3s;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            background-color: lightgrey;
            padding: 6px 12px;
            color: black;
        }

        ul.tab li.current {
            background-color: lightgrey;
            color: red;
        }

        .tabcontent.current {
            display: block;
        }

        .numBox {
            width: 40px;
            border: 1px solid lightgrey;
            font-size: 14px;
            text-align: right;
        }


    </style>
</head>

<body>


<div class="wrap">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">가장 맛있는 메뉴를 보여드려요!</h5>
            <p class="card-text">지금 뭐 먹을지 고민하지 말고 골라보세요!</p>
            <img src="http://hanshinpocha.com/wp-content/themes/hanshin/images/logo.png">
        </div>
    </div>
    <P></P>


    <div class="container"></div>
    <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner"> <!-- 슬라이드 쇼 -->
            <div class="carousel-item active"> <!--가로-->
                <img class="d-block w-100"
                     src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/97a58f48397725.58974a4bccc01.jpg"
                     height="307"
                     alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                     src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/54217748397725.58974a4bce023.jpg"
                     height="307"
                     alt="Second slide"></div>
            <div class="carousel-item">
                <img class="d-block w-100"
                     src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/bce14148397725.58974a4bcd873.jpg"
                     height="307"
                     alt="Third slide"></div> <!-- / 슬라이드 쇼 끝 --> <!-- 왼쪽 오른쪽 화살표 버튼 -->
            <a
                    class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"
                  aria-hidden="true"></span>
                <!-- <span>Previous</span> --> </a>
            <a class="carousel-control-next" href="#demo" data-slide="next"> <span
                    class="carousel-control-next-icon" aria-hidden="true"></span> <!-- <span>Next</span> -->
            </a>
            <!-- / 화살표 버튼 끝 --> <!-- 인디케이터 -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li> <!--0번부터시작-->
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul> <!-- 인디케이터 끝 --> </div>

        <p>
        </p>
        <div id="container">

            <ul class="tab">
                <li class="current" data-tab="tab1"><a href="#">대표메뉴</a></li>
                <li data-tab="tab2"><a href="#">인기메뉴</a></li>
                <li data-tab="tab3"><a href="#">음료/주류</a></li>
            </ul>

            <div id="tab1" class="tabcontent current">
                <h4>사장님이 강력추천!</h4>
                <!--                <p>대표메뉴 자리</p>-->
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top"
                             src="https://i.imgur.com/Gc03wiv.jpg"
                             width="375" height="281" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">메뉴이름</h5>
                            <p class="card-text">메뉴에 대한 간략한 설명</p>
                            <!--                            <small class="text-muted">가격: 00,000원</small>-->
                        </div>
                        <div class="card-footer">
                            <form name="form">
                                <span style="font-size: 20px;">가격: 10,000원</span><br>
                                <input name="chkbox" type="checkbox" value="10000"
                                       onClick="itemSum(this.form);"> 메뉴선택
                                <button type="button" class="minus" onclick="minusClick()">-</button>
                                <input type="number" class="numBox" min="0" value="0" readonly="readonly"/>
                                <button type="button" class="plus" onclick="plusClick()">+</button>
                            </form>

                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top"
                             src="https://mblogthumb-phinf.pstatic.net/MjAxOTAxMDRfMjM2/MDAxNTQ2NTg4MDUzOTY5.9C76ISfXiVn1J_ZZENGFnZ8M-cuTgF70vEG7edd8nGMg.U7o5pksBLjo64FIccj44AEfXK6ZwjFH48OY4CsFhpJ0g.JPEG.msinvestment/SE-39b1bc69-cc7f-4c6f-b65b-c1b2cc3f3299.jpg?type=w800"
                             width="375" height="281" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">메뉴이름</h5>
                            <p class="card-text">메뉴에 대한 간략한 설명</p>
                        </div>
                        <div class="card-footer">
                            <form name="form">
                                <span style="font-size: 20px;">가격: 7,000원</span><br>
                                <input name="chkbox" type="checkbox" value="7000"
                                       onClick="itemSum(this.form);"> 메뉴선택
                                <button type="button" class="minus" onclick="minusClick()">-</button>
                                <input type="number" class="numBox" min="0" value="0" readonly="readonly"/>
                                <button type="button" class="plus" onclick="plusClick()">+</button>
                            </form>
                        </div>

                    </div>
                </div>
                <p></p>
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top"
                             src="https://mblogthumb-phinf.pstatic.net/MjAxOTAxMDRfMTQ4/MDAxNTQ2NTg4MDQ0MTU3.duWn6wESNY1ycHzDhCzNKEX5_zpjQM-W5hfwQZcfiSsg.gHS60nE7P5HnCRNA3pq974FSrCtCJJtsYbWnDd1WuYgg.JPEG.msinvestment/SE-767b77f0-a149-4585-a1ce-35aceb2fa7a5.jpg?type=w800"
                             width="375" height="281" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">메뉴이름</h5>
                            <p class="card-text">메뉴에 대한 간략한 설명</p>
                        </div>
                        <div class="card-footer">
                            <form name="form">
                                <span style="font-size: 20px;">가격: 21,000원</span><br>
                                <input name="chkbox" type="checkbox" value="21000"
                                       onClick="itemSum(this.form);"> 메뉴선택
                                <button type="button" class="minus" onclick="minusClick()">-</button>
                                <input type="number" class="numBox" min="0" value="0" readonly="readonly"/>
                                <button type="button" class="plus" onclick="plusClick()">+</button>
                            </form>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top"
                             src="https://mblogthumb-phinf.pstatic.net/MjAxOTAxMDRfMjQg/MDAxNTQ2NTg4MDUxNjI3.gvJDFxuT7iTDmrgbYzKD5MXZpbY37NtEdBC2XYd1lHEg.U-QewSKruPMHKMSEhTFtrZFRjE9ByWgHKl6ksLAIOikg.JPEG.msinvestment/SE-9ab0bd6a-88d0-47e4-a229-aede3d7e6e36.jpg?type=w800"
                             width="375" height="281" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">메뉴이름</h5>
                            <p class="card-text">메뉴에 대한 간략한 설명</p>
                        </div>
                        <div class="card-footer">
                            <form name="form">
                                <span style="font-size: 20px;">가격: 9,000원</span><br>
                                <input name="chkbox" type="checkbox" value="9000"
                                       onClick="itemSum(this.form);"> 메뉴선택
                                <button type="button" class="minus" onclick="minusClick()">-</button>
                                <input type="number" class="numBox" min="0" value="0" readonly="readonly"/>
                                <button type="button" class="plus" onclick="plusClick()">+</button>
                            </form>

                        </div>
                    </div>
                </div>


            </div>

            <div id="tab2" class="tabcontent">
                <h4>이번주 베스트 인기메뉴!</h4>
                <p>인기 많은 메뉴순서 노출</p>
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top"
                             src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQrdkdNxV1DFyq5f0wuyGidgoFsJM1cTYPAcA&usqp=CAU"
                             width="375" height="281" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">메뉴이름</h5>
                            <p class="card-text">메뉴에 대한 간략한 설명</p>
                            <!--                            <small class="text-muted">가격: 00,000원</small>-->
                        </div>
                        <div class="card-footer">
                            <form name="form">
                                <span style="font-size: 20px;">가격: 3,000원</span><br>
                                <input name="chkbox" type="checkbox" value="3000"
                                       onClick="itemSum(this.form);"> 메뉴선택
                                <button type="button" class="minus" onclick="minusClick()">-</button>
                                <input type="number" class="numBox" min="0" value="0" readonly="readonly"/>
                                <button type="button" class="plus" onclick="plusClick()">+</button>
                            </form>

                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top"
                             src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTIG2vrw2A05M92IPbwHjbPfYmr1ITvt5-I2Q&usqp=CAU"
                             width="375" height="281" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">메뉴이름</h5>
                            <p class="card-text">메뉴에 대한 간략한 설명</p>
                        </div>
                        <div class="card-footer">
                            <form name="form">
                                <span style="font-size: 20px;">가격: 5,000원</span><br>
                                <input name="chkbox" type="checkbox" value="5000"
                                       onClick="itemSum(this.form);"> 메뉴선택
                                <button type="button" class="minus" onclick="minusClick()">-</button>
                                <input type="number" class="numBox" min="0" value="0" readonly="readonly"/>
                                <button type="button" class="plus" onclick="plusClick()">+</button>
                            </form>
                        </div>

                    </div>
                </div>
                <p></p>
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top"
                             src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRXfNpaJFowq_A0Ut1nWBvJLXP6Nrxd3T1TVg&usqp=CAU"
                             width="375" height="281" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">메뉴이름</h5>
                            <p class="card-text">메뉴에 대한 간략한 설명</p>
                            <!--                            <small class="text-muted">가격: 00,000원</small>-->
                        </div>
                        <div class="card-footer">
                            <form name="form">
                                <span style="font-size: 20px;">가격: 10,000원</span><br>
                                <input name="chkbox" type="checkbox" value="10000"
                                       onClick="itemSum(this.form);"> 메뉴선택
                                <button type="button" class="minus" onclick="minusClick()">-</button>
                                <input type="number" class="numBox" min="0" value="0" readonly="readonly"/>
                                <button type="button" class="plus" onclick="plusClick()">+</button>
                            </form>

                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top"
                             src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTjlDAbqttFquXKwOKEaIgZcmiQ76SW1DE_Ng&usqp=CAU"
                             width="375" height="281" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">메뉴이름</h5>
                            <p class="card-text">메뉴에 대한 간략한 설명</p>
                        </div>
                        <div class="card-footer">
                            <form name="form">
                                <span style="font-size: 20px;">가격: 7,000원</span><br>
                                <input name="chkbox" type="checkbox" value="7000"
                                       onClick="itemSum(this.form);"> 메뉴선택
                                <button type="button" class="minus" onclick="minusClick()">-</button>
                                <input type="number" class="numBox" min="0" value="0" readonly="readonly"/>
                                <button type="button" class="plus" onclick="plusClick()">+</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div id="tab3" class="tabcontent">
                <h4>목마르면 한잔해~!</h4>
                <!--                <p>음료 주류 노출</p>-->
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top"
                             src="..."
                             width="240" height="180" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">메뉴이름</h5>
                            <p class="card-text">메뉴에 대한 간략한 설명</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">가격: 00,000원</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top"
                             src="..."
                             width="240" height="180" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">메뉴이름</h5>
                            <p class="card-text">메뉴에 대한 간략한 설명</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">가격: 00,000원</small>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top"
                             src="..."
                             width="240" height="180" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">메뉴이름</h5>
                            <p class="card-text">메뉴에 대한 간략한 설명</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">가격: 00,000원</small>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top"
                             src="..."
                             width="240" height="180" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">메뉴이름</h5>
                            <p class="card-text">메뉴에 대한 간략한 설명</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">가격: 00,000원</small>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <hr>
    <form name="form">
        <table width="768" border="1" cellspacing="0" cellpadding="3">
            <th style="text-align: center" bgcolor="#fafad2">사장님 추천</th>
            <th style="text-align: center" bgcolor="#fafad2">이번주 인기메뉴</th>
            <th style="text-align: center" bgcolor="#fafad2">음료/주류</th>

            <tr>
                <td width="256" height="25">&nbsp;<input name="chkbox" type="checkbox" value="9000" onClick="itemSum(this.form);">&nbsp;사장님1번
                    9,000원
                </td>
                <td width="256" height="25">&nbsp;<input name="chkbox" type="checkbox" value="13000" onClick="itemSum(this.form);">&nbsp;주간베스트1번
                    13,000원
                </td>
                <td width="256" height="25">&nbsp;<input name="chkbox" type="checkbox" value="4000" onClick="itemSum(this.form);">&nbsp;처음처럼
                    4,000원
                </td>
            </tr>
            <tr>
                <td height="25">&nbsp;<input name="chkbox" type="checkbox" value="15000" onClick="itemSum(this.form);">&nbsp;사장님2번
                    15,000원
                </td>
                <td height="25">&nbsp;<input name="chkbox" type="checkbox" value="10000" onClick="itemSum(this.form);">&nbsp;주간베스트2번
                    10,000원
                </td>
                <td height="25">&nbsp;<input name="chkbox" type="checkbox" value="4000" onClick="itemSum(this.form);">&nbsp;참이슬
                    4,000원
                </td>

            </tr>
            <tr>
                <td height="25">&nbsp;<input name="chkbox" type="checkbox" value="19000" onClick="itemSum(this.form);">&nbsp;사장님3번
                    19,000원
                </td>
                <td height="25">&nbsp;<input name="chkbox" type="checkbox" value="9000" onClick="itemSum(this.form);">&nbsp;주간베스트3번
                    9,000원
                </td>
                                </td>
                <td height="25">&nbsp;<input name="chkbox" type="checkbox" value="5000" onClick="itemSum(this.form);">&nbsp;클라우드
                    5,000원
                </td>
            </tr>
            <tr>
                <td height="25">&nbsp;<input name="chkbox" type="checkbox" value="8000" onClick="itemSum(this.form);">&nbsp;사장님4번
                    8,000원
                </td>
                <td height="25">&nbsp;<input name="chkbox" type="checkbox" value="12000" onClick="itemSum(this.form);">&nbsp;주간베스트4번
                    12,000원
                </td>
                                </td>
                <td height="25">&nbsp;<input name="chkbox" type="checkbox" value="5000" onClick="itemSum(this.form);">&nbsp;테라
                    5,000원
                </td>
            </tr>
        </table>
        <div style="text-align: right; margin-top: 15px">
                <span style="font-size: 25px" > 합계
                    <input style="text-align: right" name="total_sum" type="text" size="15" readonly>원
                </span>
        </div>
<!--        </table>-->
    </form>
    <hr>
    <div style="text-align: center; color:lightslategray; font-size: 13px"> WEB MENU SERVICE ⓒ2020 SMART ChopChop all
        rights reserved. <br>
        <img src="https://postfiles.pstatic.net/MjAyMDA4MjJfMjky/MDAxNTk4MDg5NTA4MTUw.L5zv5K5xZ_y5WEXRgUP4-QlJES8GdewRjfcd89hTRfwg.0ydK47_ytwwbLBLRr4_sLGL6AvZiNu4haDGzySzdflUg.JPEG.sodjfl/logo(%EA%B0%80%EB%A1%9C).jpg?type=w773"
             width="231" height="76">
    </div>
</div>
</body>

</html>